.articles__container {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
    padding: 6% 2%;
    margin: 1rem 0;
    grid-column: 2/3;
    grid-row: 2/3;
    
    @media screen and (max-width:$tablet) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media screen and (max-width:$smallMobile) {
        grid-template-columns: 1fr;
    }
}
.articles_h {
    grid-column: 1/4;
    grid-row: 1/2;
}
.articles_title {
    font-family: $FontSemiBold;
    font-size: 2rem;
    color: $color_title;
    cursor: pointer;
    font-weight: 600;

    @media screen and (max-width:$tablet) {
       font-size: 1.8rem;
    }

    @media screen and (max-width:$mobile) {
        font-size: 1.6rem;
    }
    @media screen and (max-width:$smallMobile) {
        font-size: 1.3rem;
    }

}

.articles_date {
    font-family: $FontMedium;
    font-size: 1rem;
    color: $color_text;
    
    @media screen and (max-width:$tablet) {
        font-size: 0.9rem;
     }
 
     @media screen and (max-width:$mobile) {
         font-size:0.8rem;
     }
     @media screen and (max-width:$smallMobile) {
         font-size: 0.7rem;
     }
}
.articles__picture {
    width: 100%;
    cursor: pointer;
}

.articles{
    align-items: center;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 7.5% 85% 7%;
    grid-template-rows: 10% 90%;
}

.articles_prev,
.articles_next {
    // height: 5%;
    cursor: pointer;
    padding: 1.6rem 1.4rem;
    color: $color_button;
    font-weight: bold;
    transition: 0.6s ease;
    background-color: $backgroundColor_dark;
    border-radius: 50%;
    position: relative;
    margin:auto;

  
&:hover {
    color: white;
    background-color: $color_button;
}


    // @media screen and (max-width:$desktop) {
    //     height: 8%;
    // }

    // @media screen and (max-width:$tablet) {
    //     height: 5%;
    // }

    // @media screen and (max-width:$smallMobile) {
    //     height: 3%;
    // }

    }
    .articles_prev{
        grid-column: 1/2;
        grid-row: 2/3;
    }
.articles_next {
    grid-column: 3/4;
    grid-row: 2/3;
    margin-left: -5px;
}


.article_block{
    cursor: pointer;
    &:hover{
        box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    }
}
/* Position the "next button" to the right */
// .next {
//     margin-left: 0.5rem;
//     right: 1rem;
//     border-radius: 50%;


// }