.footer {

    padding-top: 30px;

    @media screen and (max-width:$mobile) {
        display: none;
    }


    &__line {
        border: 1px solid $footer_line;
        margin: 0;
    }

    &__nav {
        padding-top: 30px;
        display: flex;
        justify-content: space-between;
        gap: 80px;

        @media screen and (max-width:$desktop) {
            flex-wrap: wrap;
            gap: 40px;
        }

    }

    &__list {

        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    &__list-title {
        font-family: $FontBold;
        font-size: 1.5rem;
        color: $black;
        margin: 0;
        padding-bottom: 16px;

        @media screen and (max-width:$desktop) {
            font-size: 1rem;
        }
    }

    &__list-link {
        display: inline-block;
        padding-bottom: 16px;
        text-decoration: none;
        color: $color_gray2;
        font-family: $defaultFont;
        font-size: 1rem;

        @media screen and (max-width:$desktop) {
            font-size: 0.8rem;
            padding-bottom: 10px;
        }
    }

    &__icon {
        padding-right: 8px;
    }
}

.form-update {
    display: flex;
    gap: 2px;

    &__btn {
        display: inline-block;
        box-sizing: border-box;
        border: none;
        padding: 0;
        width: 45px;
        height: 45px;
        background-color: $color_button;

        svg {
            fill: $white;
        }

        &:hover {
            cursor: pointer;
            transition: background-color 0.4s ease;
            background: rgba(205, 214, 219, 0.3);
        }

        &:hover svg {
            fill: $color_button;

        }
    }

    &__input {
        width: 242px;
        height: 45px;
        padding: 0;
        border: none;
        background-color: $card_down;
        color: $defaultFont;
        font-size: 1.5rem;

        &::placeholder {
            color: $color_gray3;
            font-family: $defaultFont;
            font-size: 1rem;
        }

        &:active,
        &:hover,
        &:focus {
            outline: 0;
            outline-offset: 0;
        }

        &:active::placeholder,
        &:hover::placeholder,
        &:focus::placeholder {
            color: transparent;
        }
    }
}

.dataError {
    font-family: $defaultFont;
    color: #ff0008;
    margin-top: 0.8rem;
    font-size: 1rem;
}

.footer__email {
    display: flex;
    flex-direction: column;
}

.FollowEmail {
    font-family: $defaultFont;
    color: #2b772f;
    margin-top: 0.4rem;
    font-size: 1.1rem;
}