.footer {
    padding-top: 30px;


    &__line {
        border: 1px solid $footer_line;
        margin: 0;
    }

    &__nav {
        padding-top: 30px;
        display: flex;
        justify-content: space-between;
        gap: 80px;
    }

    &__list {

        list-style-type: none;
        margin: 0;
    }

    &__list-title {
        font-family: $FontBold;
        font-size: 1.5rem;
        color: $black;
        margin: 0;
        padding: 0;
    }
}