@font-face {
    font-family: "GilroyRegular";
    src: url("../fonts/GilroyRegular/Gilroy-Regular.eot");
    src: url("../fonts/GilroyRegular/Gilroy-Regular.eot?#iefix")format("embedded-opentype"),
        url("../fonts/GilroyRegular/Gilroy-Regular.woff") format("woff"),
        url("../fonts/GilroyRegular/Gilroy-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "GilroyMedium";
    src: url("../fonts/GilroyRegular/Gilroy-Medium.eot");
    src: url("../fonts/GilroyRegular/Gilroy-Medium.eot?#iefix")format("embedded-opentype"),
        url("../fonts/GilroyRegular/Gilroy-Medium.woff") format("woff"),
        url("../fonts/GilroyRegular/Gilroy-Medium.ttf") format("truetype");
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: "GilroyBold";
    src: url("../fonts/GilroyRegular/Gilroy-Bold.eot");
    src: url("../fonts/GilroyRegular/Gilroy-Bold.eot?#iefix")format("embedded-opentype"),
        url("../fonts/GilroyRegular/Gilroy-Bold.woff") format("woff"),
        url("../fonts/GilroyRegular/Gilroy-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "GilroySemiBold";
    src: url("../fonts/GilroyRegular/Gilroy-Semibold.eot");
    src: url("../fonts/GilroyRegular/Gilroy-Semibold.eot?#iefix")format("embedded-opentype"),
        url("../fonts/GilroyRegular/Gilroy-Semibold.woff") format("woff"),
        url("../fonts/GilroyRegular/Gilroy-Semibold.ttf") format("truetype");
    font-style: normal;
    font-weight: 600;
}