$primaryColor: rgb(45, 155, 146);
.title {
  color: $primaryColor;
}

.content {
  &__subtitle {
    color: red;
    display: block;
    height: 200px;
    background-image: url(../images/oqchorqyiey.jpeg);
  }
}
