@mixin heartMix($fill, $stroke) {
    @include imgCover;

    @if $fill !="none" {
        $fill: toRGB($fill)
    }

    background-image: url('data:image/svg+xml;utf8, <svg width="24" height="21" viewBox="0 0 24 21" fill="#{$fill}" xmlns="http://www.w3.org/2000/svg">    <path d="M11.9996 19.0541C-8 8 5.99999 -4 11.9996 3.58806C18 -4 32 8 11.9996 19.0541Z" stroke="#{toRGB($stroke)}" stroke-width="1.8"/>    </svg>');
}


@mixin cartMix($fill, $stroke) {
    @include imgCover;

    @if $fill !="none" {
        $fill: toRGB($fill)
    }

    background-image: url('data:image/svg+xml;utf8, <svg width="24" height="24" viewBox="0 0 24 24" fill="#{$fill}" xmlns="http://www.w3.org/2000/svg"> <path d="M1 2.5H2.65424C3.13263 2.5 3.37183 2.5 3.56628 2.58674C3.73771 2.66321 3.88415 2.78638 3.98886 2.94217C4.10763 3.11888 4.14862 3.35454 4.23058 3.82585L4.6087 6M4.6087 6L5.49173 11.0774C5.67091 12.1077 5.7605 12.6228 6.02583 12.9939C6.25945 13.3207 6.58606 13.5695 6.96311 13.708C7.39133 13.8654 7.91176 13.815 8.95264 13.7143L18.614 12.7793C19.6298 12.681 20.1378 12.6318 20.5221 12.4033C20.8653 12.1993 21.1395 11.8972 21.3095 11.536C21.5 11.1314 21.5 10.6211 21.5 9.6005V9.6005C21.5 8.51582 21.5 7.97348 21.2922 7.55394C21.1068 7.17971 20.809 6.8729 20.4404 6.67654C20.0272 6.4564 19.4851 6.44036 18.4009 6.40826L4.6087 6Z" stroke="#{toRGB($stroke)}" stroke-width="1.8" stroke-linecap="round" stroke-linejoin="round"/> <circle cx="8.5" cy="19" r="2" stroke="#{toRGB($stroke)}" stroke-width="1.8"/> <circle cx="18" cy="19" r="2" stroke="#{toRGB($stroke)}" stroke-width="1.8"/> </svg>');
}


@mixin shareMix($stroke) {
    @include imgCover;
    background-image: url('data:image/svg+xml;utf8, <svg width="18" height="20" viewBox="0 0 18 20" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M15 14C14.212 14 13.5 14.31 12.966 14.807L5.91 10.7C5.96 10.47 6 10.24 6 10C6 9.76 5.96 9.53 5.91 9.3L12.96 5.19C13.5 5.69 14.21 6 15 6C16.66 6 18 4.66 18 3C18 1.34 16.66 0 15 0C13.34 0 12 1.34 12 3C12 3.24 12.04 3.47 12.09 3.7L5.04 7.81C4.5 7.31 3.79 7 3 7C1.34 7 0 8.34 0 10C0 11.66 1.34 13 3 13C3.79 13 4.5 12.69 5.04 12.19L12.088 16.308C12.0317 16.5344 12.0022 16.7667 12 17C12 17.5933 12.1759 18.1734 12.5056 18.6667C12.8352 19.1601 13.3038 19.5446 13.8519 19.7716C14.4001 19.9987 15.0033 20.0581 15.5853 19.9424C16.1672 19.8266 16.7018 19.5409 17.1213 19.1213C17.5409 18.7018 17.8266 18.1672 17.9424 17.5853C18.0581 17.0033 17.9987 16.4001 17.7716 15.8519C17.5446 15.3038 17.1601 14.8352 16.6667 14.5056C16.1734 14.1759 15.5933 14 15 14Z" fill="#{toRGB($stroke)}"/> </svg>');
}

@mixin delMix($stroke) {
    @include imgCover;
    background-image: url('data:image/svg+xml;utf8, <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"> <path fill-rule="evenodd" clip-rule="evenodd" d="M12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22ZM11.7436 10.9121L14.2766 8.37915C14.577 8.07875 15.064 8.07875 15.3644 8.37915C15.6648 8.67955 15.6648 9.1666 15.3644 9.46701L12.8314 12L15.3645 14.533C15.6649 14.8334 15.6649 15.3205 15.3645 15.6209C15.0641 15.9213 14.577 15.9213 14.2766 15.6209L11.7436 13.0879L9.21059 15.6209C8.91019 15.9213 8.42314 15.9213 8.12274 15.6209C7.82233 15.3204 7.82233 14.8334 8.12274 14.533L10.6557 12L8.12276 9.46703C7.82236 9.16663 7.82236 8.67958 8.12276 8.37917C8.42317 8.07877 8.91022 8.07877 9.21062 8.37917L11.7436 10.9121ZM3.53846 12C3.53846 16.6732 7.32682 20.4615 12 20.4615C16.6732 20.4615 20.4615 16.6732 20.4615 12C20.4615 7.32682 16.6732 3.53846 12 3.53846C7.32682 3.53846 3.53846 7.32682 3.53846 12Z" fill="#{toRGB($stroke)}"/></svg>');
}

@mixin plus($stroke) {
    @include imgCover;
    width: 60%;
    height: 60%;
    background-image: url('data:image/svg+xml;utf8,<svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">  <path d="M13 8H8V13C8 13.55 7.55 14 7 14C6.45 14 6 13.55 6 13V8H1C0.45 8 0 7.55 0 7C0 6.45 0.45 6 1 6H6V1C6 0.45 6.45 0 7 0C7.55 0 8 0.45 8 1V6H13C13.55 6 14 6.45 14 7C14 7.55 13.55 8 13 8Z" fill="#{toRGB($stroke)}"/>    </svg> ');

}

@mixin minus($stroke) {
    @include imgCover;
    width: 60%;
    height: 0.2rem;
    background-image: url('data:image/svg+xml;utf8, <svg width="14" height="2" viewBox="0 0 14 2" fill="none" xmlns="http://www.w3.org/2000/svg">    <rect width="14" height="2" rx="1" fill="#{toRGB($stroke)}"/>    </svg>    ');
}

@mixin imgCover() {
    background-repeat: no-repeat;
    background-size: cover;
    background-size: contain;
}

@function toRGB ($color) {
    @return "rgb("+red($color)+", "+green($color)+", "+blue($color)+")";
}