/* Breakpoints */
$smallMobile: 479px;
$mobile: 639px;
$tablet: 959px;
$desktop: 1199px;


$color_gray1:#3A3A3A;
$color_gray2:#616161;
$color_gray3:#898989;
$color_gray4:#B0B0B0;
$color_gray5:#D8D8D8;

$backgroundColor_dark:#F9F1E7;
$backgroundColor_light:#FCF8F3;
$color_button:#E89F71;
$color_text:$color_gray3;
$color_title:$color_gray1;
$card:$color_gray1;
$color_old-price:$color_gray4;
$card_down:#F4F5F7;
$green:#2EC1AC;
$discount:#E97171;
$footer_line:$color_gray5;
$white:white;
$black:black;