/* Breakpoints */
$smallMobile: 479px;
$mobile: 639px;
$tablet: 959px;
$desktop: 1199px;

$backgroundColor_dark:#F9F1E7;
$backgroundColor_light:#FCF8F3;
$color_button:#E89F71;
$color_text:#898989;
$card:#3A3A3A;
$card_down:#F4F5F7;
$green:#2EC1AC;
$discount:#E97171;

// $defaultFont:'Montserrat',
// sans-serif;